asgiref
Django==3.1.10
pytz==2020.1
sqlparse==0.3.1
djangorestframework
dj-rest-auth
django-allauth
djangorestframework-simplejwt
markdown
django-filter
django-pagseguro2
Pillow
django-import-export
django-filter
django-cleanup