asgiref
opencv-python==3.4.3.18
opencv-contrib-python==3.4.3.18
cmake
scipy
scikit-learn
scikit-image
dlib
gdown
h5py==2.10.0
imutils
jsonschema
protobuf==3.12.4
tensorflow==1.15.0
requests
keras==2.2.5
mysqlclient
numpy==1.19.4
Pillow
Django==3.1
pytz==2020.1
sqlparse==0.3.1
djangorestframework
dj-rest-auth
django-allauth
PyJWT==1.7.1
djangorestframework-simplejwt
markdown
django-filter
django-pagseguro2
Pillow
django-import-export
django-filter
apscheduler