{% extends "lista_link.html" %}
{% block page_title %}Cadastrar Usuario
{% endblock page_title %}
{% block sidebar_content %}

<h2>Cadastrar Usuário</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<label>Nome</label>
		<input class="form-control" type="text" name="name"><br><br>
	</div>
	<label>Gerar código automatico</label>
	<input type="checkbox" id="checkbox" name="scales" checked><br><br>
	<label>Codigo</label>
	<input class="form-control" type="text" name="code" id="code" disabled><br><br>
	<label>Imagem</label>
	<input class="" type="file" name="img"><br><br>
	{% for message in messages %}
	<div class="alert alert-danger">
		{{message}}
	</div>
	<br>
	{% endfor %}
	<script>
		$("#checkbox").change(function () {
			if (this.checked) {
				document.getElementById("code").disabled = true;
			} else {
				document.getElementById("code").disabled = false;
			}
		});
	</script>
	<button class="btn btn-primary" type="submit">Enviar</button><br><br>
</form>
{% endblock sidebar_content%}