{% extends "lista_link.html" %}	
{% block page_title %}Alterar Senha
{% endblock page_title %}
{% block sidebar_content %}
	<h2>Alterar Senha</h2>
	<form method="POST">
		{% csrf_token %}
		<label>Digite a nova senha</label><br>
		<input class="form-control" type="password" name="password"><br><br>
		<label>Confirme ela novamente</label><br>
		<input class="form-control" type="password" name="password2"><br>
		{% for message in messages %}
		<br>
		<div class="alert alert-danger">
  			{{message}}
		</div>
		{% endfor %}
		<br>
		<button class="btn btn-secondary" type="submit">Salvar</button><br><br>
	</form>
{% endblock %}