{% extends "lista_link.html" %}	
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
{% block content %}
<body>
	<form method="POST">
		{% csrf_token %}
		<p>Somos empreendedores, fazemos coisas novas, desafiamos as convenções e não temos medo de falhar. Somos inovadores, apaixonados, abertos e divertidos. Trabalhamos em equipe e somos obstinados pela qualidade, fazemos o que fornecessário para alcançar o objetivo cliente. 
		<br>
		Acreditamos no poder da intenção e no uso correto da tecnologia e da inteligência artificial respeitando as leis universais e os valores do ser humano. Não somos perfeitos nem fingimos ser, somos sempre o mais honesto e transparentes que podemos ser.<br></p>
	</form>
</body>
{% endblock %}
</html> 