<!-- templates/base.html -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%static 'js/bootstrap/jquery-3.3.1.slim.min.js'%}"></script>
    <script src="{%static 'js/bootstrap/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap/bootstrap.min.js'%}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/articfox.ico' %}" />
    <title>
        {% block page_title %} {% endblock page_title %} - ArticFox
    </title>
</head>

<body>

    {% block content %} {% endblock content %}
    

</body>

</html>