.custom-bg {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-bg {
    /* The image used */
    background-image: url("/static/img/login_bg.jpg");
}

.about-bg {
    /* The image used */
    background-image: url("/static/img/about_background.png");
    height: 100%;

}

.login-form-container {
    /* Login form container */
    /* gives transparency */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.menu-toggle {
    z-index: 1010;
    position: fixed;
}

.form-control {
    border-color: #29396a !important;
}

label {
    font-size: 130%;
}

body,
html,
.sidebar_container {
    height: 100%;
}

.sidebar_form_container {
    height: 100%;
    /* margin-top: -2.5rem; */
    z-index: -1;

}

h1,
h2,
h3 {
    color: #29396a;

}